<h2>Select an option</h2>
{{icon-radio-button-list 
wrapper-class="col-md-4"
	modelValue=subject.package
	options=options}}

<hr/>
<h2>Select an option</h2>
{{icon-radio-button-list 
wrapper-class="col-md-4"
	modelValue=subject.package
	options=optionsAdvanced}}
